# cpp shits
EXTRA FILES AND SHIT/PTCUtils/x64/*
EXTRA FILES AND SHIT/PTCUtils/PTCUtils/x64/*
EXTRA FILES AND SHIT/PTCUtils/PTCUtils/.vs/*

# fmod
EXTRA FILES AND SHIT/PTOXFMOD/.cache/*
EXTRA FILES AND SHIT/PTOXFMOD/.user/*
EXTRA FILES AND SHIT/PTOXFMOD/.unsaved/*
EXTRA FILES AND SHIT/PTOXFMOD/Build/*
*.bank